<aside id="leftbar">
    <div id="main-nav">
        <nav id="reports-nav" class="nav-block">
            <ul class="stack nav">
                <li id="nav_functions">
                    <a href="/admin/functions">Functions</a>
                </li>
                <li id="nav_function">
                   &nbsp;&nbsp;&nbsp;&nbsp; Function details
                </li>
                <li id="nav_workers">
                   <a href="/admin/workers">Workers</a></li>
                <li id="nav_worker">
                    &nbsp;&nbsp;&nbsp;&nbsp; Worker details
                </li>
                <li id="nav_tasks">
                    <a href="/admin/tasks">Tasks</a>
                </li>
                <li id="nav_task">
                    &nbsp;&nbsp;&nbsp;&nbsp; Task Detail
                </li>
        </ul>
        </nav>
    </div>
    <script type="text/javascript">
        (function () {
          var regex = /\/admin\/(\w+)/;
          var page = regex.exec(location.pathname)[1];
          document.getElementById("nav_" + page).className = "active";
        })();
    </script>

</aside>
