<div class="hdr">
  <a href="/" class="logo">{{appname}}</a>
  <span class="time">
    <a href="/www/info">home</a> &nbsp;&nbsp;
    <a href="/www/top">top</a> &nbsp;&nbsp;
    <a href="/www/stats">stats</a> &nbsp;&nbsp;
    {{ t }} UTC</span>
</div>
<div class="main">
