<html>
  <head>
    <title>{{appname}}</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{> body-header }}
    <div class="main">
      This is the {{appname}} index page.
    </div>
  </body>
</html>
